<form action="/add" method="POST">
    <p>Title:</p>
    <input type="text" name="title">
    <p>Content:</p>
    <textarea name="content" id="" cols="30" rows="10"></textarea>
    <br>
    <button type="submit">Send post</button>
</form>